<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="./css/stye1.css">

</head>

<body>
    <div class="maincontent">
        {{>header}}
        <h3>Hi this is Aryan</h3>
        <br>
        <p>This is my first web app that I created using two APIs Weatherstack and Geocode
            <br>

            This app was deployed on heroku and the source code is uploaded on github.
        </p>
        <img src="./images/androidparty.jpg" alt="Image unaivalable">

    </div>

    {{>footer}}
</body>

</html>