<header>
    <h1>{{title}}</h1>
    <nav>
        <a href="/about" class="nava">About</a>
        <a href="/" class="nava">Weather</a>
        <a href="/help" class="nava">Help</a>
    </nav>

</header>